body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #8E0082;
    color: #FFFFFF;
}

header h1 {
    margin: 0 0 50px 0;
    padding: 15px;
    font-size: 25px;
}

.img-content {
    width: 250px;
    height: 250px;
    background-color: #F4DFD4;
    border: 4px solid #8E0082;
    border-radius: 50%;
    margin: 15px auto;
}

.img-content img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.p-content p {
    font-size: 20px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8E0082;
}

.content hr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37%;
    border: 1px solid #CCCCCC;
}

.text-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-content .sobre .title, .favoritos .title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.text-content .sobre .text, .favoritos .text {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #000;
    font-size: 15px;
    width: 100%;
    height: 30px;
    border: 1px solid #CCCCCC;
}

footer .pipe {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    color: #8E0082;
}

@media (max-width: 767px) and (min-width: 320px) {
    .text-content {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .text-content .sobre .title, .favoritos .title {
        margin: 10px 0 10px 0;
    }

    .text-content .sobre .text, .favoritos .text {
        margin: 0;
    }

    .content hr {
        width: 50%;
    }

    .img-content {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .text-content {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .text-content .sobre .title, .favoritos .title {
        margin: 5px 0 5px 0;
    }

    .text-content .sobre .text, .favoritos .text {
        margin: 0;
    }

    .content hr {
        width: 50%;
    }

    .img-content {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1025px) {
    .text-content {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .text-content .sobre .title, .favoritos .title {
        margin: 15px 20px 0 20px;
    }

    .text-content .sobre .text, .favoritos .text {
        margin: 15px 20px 0 20px;
    }

    .content hr {
        width: 37%;
    }
}